

.container {
  max-width: 504px;
  margin: 0 24px 0 24px;
}

.container img {
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

li {
  text-decoration: none;
  list-style: none;
  margin-top: 24px;
}